{% extends 'store/base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to SD Shop!! </p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p align="justify">
                        <br><br>
                            <p>
                                Welcome to <strong>SD Shop</strong>, your one-stop destination for cutting-edge technology products and innovative gadgets. At SD Shop, we are passionate about bringing the latest tech advancements closer to you, ensuring you stay ahead in this fast-evolving digital world.
                            </p>
                            <p>
                                Founded with a vision to empower individuals and businesses, SD Shop offers a curated selection of high-quality gadgets, electronics, and accessories that cater to your tech-savvy needs. Whether you're a tech enthusiast, a professional looking for productivity tools, or simply someone who loves exploring new technology, we have something for everyone.
                            </p>
                            <p><strong>What We Offer:</strong></p>
                            <ul>
                                <li><strong>Wide Range of Products:</strong> From smart devices and wearables to accessories and gaming gear, we house top brands and trending products.</li>
                                <li><strong>Quality Assurance:</strong> Each product is carefully vetted to ensure you receive only the best.</li>
                                <li><strong>Exceptional Customer Support:</strong> Our team is here to guide you every step of the way, from product selection to after-sales assistance.</li>
                            </ul>
                            <p>
                                At SD Shop, we believe in blending technology with convenience, making it easier for you to find the gadgets you love. Join us as we continue to innovate, inspire, and redefine the way you experience technology.
                            </p>
                            <p>
                                Explore our collections and experience the future of tech at <strong>SD Shop</strong>!
                            </p>
                </div>
            </center>
        </div>
    </div>



{% endblock %}