{% extends 'store/base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Processing Order</h1>
            <p class="lead fw-normal text-white-50 mb-0">This is temporary</p>
        </div>
    </div>
</header>

<br>
<div class="container">
    <div class="row">
        <!-- Order Summary (Left) -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Order Summary</div>
                <div class="card-body">
                    {% for product in cart_products %}
                        <strong>{{ product.name }}:</strong>
                        {% if product.is_sale %}
                            ${{ product.sale_price }}
                        {% else %}
                            ${{ product.price }}
                        {% endif %}
                        <br>
                        <small>Quantity: 
                            {% for key, value in quantities.items %}
                                {% if key == product.id|slugify %}
                                    {{ value }}
                                {% endif %}
                            {% endfor %}
                        </small>
                        <br><br>
                    {% endfor %}
                    <strong>Total: ${{ totals }}</strong>
                    <br><br>
                    <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Update Items</a>
                </div>
            </div>
        </div>

        <!-- Billing Form (Center) -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Billing Info</div>
                <div class="card-body">
                    <form methods="POST" action="{% url 'process_order' %}">
                        {% csrf_token %}
                    {{ billing_form.as_p }}
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-secondary btn-block">Pay Now</button>
                    </form>
        </div>
        
        

        <!-- Shipping Info (Right) -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Shipping Info</div>
                <div class="card-body">
                    <strong>Name:</strong> {{ shipping_info.shipping_full_name }}<br>
                    <strong>Email:</strong> {{ shipping_info.shipping_email }}<br>
                    <strong>Address1:</strong> {{ shipping_info.shipping_address1 }}<br>
                    <strong>Address2:</strong> {{ shipping_info.shipping_address2 }}<br>
                    <strong>City:</strong> {{ shipping_info.shipping_city }}<br>
                    <strong>State:</strong> {{ shipping_info.shipping_state }}<br>
                    <strong>Zipcode:</strong> {{ shipping_info.shipping_zipcode }}<br>
                    <strong>Country:</strong> {{ shipping_info.shipping_country }}<br>
                    <br>
                    <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">Update Shipping</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

{% endblock %}
